
/**
* @template:  LION

TABLE OF CONTENTS

    * Global
        + Navbar
        + Header
        + About
        + Skills
        + Services
        + Team
        + Applications
        + Clients
        + Pricing
        + Blog
        + Contact
        + Footer
        + Main Blog
            - posts
            - pagination nav
            - popular-post
            - Tag
            - instagram-feed
        + Single Post    
*/

@import "global.css";

/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */
.navbar-default{
    padding: 20px 0 30px;
    background: none;
    border:none;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    text-transform: uppercase;
    margin: 0;
}

.nav-scroll{
    background: #111;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2px;
    transition: all .5s;
    margin: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
    font-weight: 100;
    font-size: 38px;
    color: #d1b389;
    padding-top: 25px;
}

.navbar-default .navbar-nav>li>a{
    margin: 0!important;
    color: #aaa!important;
    padding: 0!important;
}

.navbar-default .navbar-nav>li{
    font-size: 14px;
    margin: 25px 15px 0;
    padding: 2px 0;
    background: none;
    cursor: pointer;
    position: relative;
}

.navbar .navbar-nav>li>a.active{
    color: #d1b389 !important;
    background: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
}

.navbar-toggle {
    margin-top: -25px;
    box-sizing: border-box;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: none;
    border: none;
}

#fullname, #initials {
    text-transform: none;
    font-family: 'Cedarville Cursive', cursive;
}

svg path, svg line {
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
    fill: none;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Header ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../img/table-setting.jpeg') no-repeat fixed;
    background-size: cover;
    background-position: 50% 0% !important;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: overlay;
}

.header .caption h4 {
    font-size: 150%;
    color: #aaa;
    padding-bottom: 10px;
}

.header .caption h1 {
    font-size: 300%;
    /* text-transform: uppercase; */
    font-size: 4em;
    color: #d1b389;
}

.header .caption h1 span {
    color:    #aaa;
}

.header .home-arrow-down {
    position: absolute;
    bottom: 150px;
    left: 45%;
}

.header .home-arrow-down i {
    font-size: 4em;
}

.header .smoth-scroll{
    -webkit-animation: scroll 1s linear infinite alternate;
    -moz-animation: scroll 1s linear infinite alternate;
    animation: scroll 1s linear infinite alternate;
}

@keyframes scroll{
    0% { transform: translateY(0px);opacity: 1; }
    25% { transform: translateY(4px);opacity: .8; }
    50% { transform: translateY(8px);opacity: .6; }
    75% { transform: translateY(12px);opacity: .4; }
    100% { transform: translateY(16px);opacity: .2; }
}
@-webkit-keyframes scroll{
    0% { transform: translateY(0px);opacity: 1; }
    25% { transform: translateY(4px);opacity: .8; }
    50% { transform: translateY(8px);opacity: .6; }
    75% { transform: translateY(12px);opacity: .4; }
    100% { transform: translateY(16px);opacity: .2; }
}
@-moz-keyframes scroll{
    0% { transform: translateY(0px);opacity: 1; }
    25% { transform: translateY(4px);opacity: .8; }
    50% { transform: translateY(8px);opacity: .6; }
    75% { transform: translateY(12px);opacity: .4; }
    100% { transform: translateY(16px);opacity: .2; }
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Skills ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.skills {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding-top: 100px;
}

.skills-item{
    border-bottom: 1px solid #f5f5f5;
    padding: 50px 20px;
}

.skills-item:nth-child(2) {
    background: #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

.skills-item span {
    font-size: 2.5em;
    padding: 25px;
    color: #0c4900;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
  }

.skills-item h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px auto;
}

.skills .photo-media img {
    height: auto;
    max-width: 100%;
}
    
.skills .skills-text p {
    font-size: 16px;
    line-height: 2;
    padding: 20px 10px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Skills ------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
 /* .skills {
    border-bottom: 1px solid #f0f0f0;
 }

.skills .skills-progress p{
    font-size: 12px;
    color: #222;
    margin-bottom: 5px;
}

.skills .skills-progress .progress-main{
    background: #f5f5f5;
    width: 100%;
    height: 1px;
    margin: 0 auto 40px;
}

.skills-progress .progress-main .progress-bar{
    background: #111;
    height: 100%;
    width: 0;
    background: #626D68;
    transition: all 2s;
} */

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Counter ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.count-to {
    background: url('../img/table-fence-structure-wood-grain-texture-819062-pxhere.com.jpg') no-repeat fixed;
    background-size: cover;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: overlay;
    color: #fff;
}

.count-to .numb-item {
    box-shadow: 0px 0px 10px #ddd;
    padding: 15px 0;
    margin: 10px 0;
}

.count-to .numb-item span {
    font-size: 2.5em;
    color: #0c4900;
}

.count-to .numb-item h3 {
    font-size: 2em;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Services ------------------------------------- */
/* ---------------------------------------------------------------------------- */
 
.services {
    position: relative;
    padding-bottom: 0;
}

.services .main-item-up .part:nth-child(2){
    background: #f9f9f9;
}

.services .main-item-down .part:nth-child(1){
    background: #f9f9f9;
}

.services .main-item-down .part:nth-child(3){
    background: #f9f9f9;
}

.services .part {
    background: #f5f5f5;
    padding: 50px 40px;
}

.services .part span {
    font-size: 2.5em;
    padding: 10px;
    color: #0c4900;
}

.services .part h4 {
    color: #303030;
    font-weight: 600;
    font-size: 1.5em;
    margin: 20px auto;
}

.services .serv-us{
    background: rgba(0,0,0,.85);
    background-image: url('../img/table-fence-structure-wood-grain-texture-819062-pxhere.com.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: #aaa;
}

.services .serv-us h5{
    font-size: 2em;
}

.services .serv-us .our-video{
    position: relative;
    border-radius: 4px;
}

.services .serv-us .our-video img{
    border-radius: 4px;
}

.serv-us .our-video .vid-play{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    color: #111;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    box-shadow: 0px 2px 5px #ccc;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Team ------------------------------------- */
/* ---------------------------------------------------------------------------- */
.team {
    overflow: hidden;
} 

.team .team-item {
    border-right: 1px solid #f5f5f5;
    overflow: hidden;
    background: #e0e0e0;
 }

.team .team-item .team-img {
    padding-left: 0px; 
    padding-right: 0px; 
}

.team .team-item .team-img img {
    width: 100%;
}

.team .team-info {
    display: inline-block;
    text-align: center;
    padding: 0;
}

.team .team-info h4 {
    font-weight: bold;
    vertical-align: middle;
    margin: 80px auto 40px;

}

.team .team-info p {
    color: #a3a3a3;
    vertical-align: middle;

}

.team .team-info .media-icon{
    margin-top: 80px
}

.team .team-info .media-icon span {
    width: 30px;
    height: 30px;
    background: #444444;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 10%;
    line-height: 30px;
    margin: 0 2px;
}

.team .team-info .media-icon span:hover {
    background: #f9f7f7;
    color: #000;
    width: 30px;
    height: 30px;
    font-size: 19px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Applications ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.applications {
    background: #f9f7f7;
    overflow: hidden;
}

.applications .filtering span{
    padding: 0 20px;
    cursor: pointer;

}

.applications .filtering span.active{
    color: #8a8282;
    text-decoration: line-through !important;
}

.item-img {
    padding: 8px 4px 0;
    position: relative;
}


.item-img-overlay{
    position: absolute;
    top: 8px;
    left: 4px;
    right: 4px;
    bottom: 0;
    background: rgba(0,0,0,.9);
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
}

.item-img-overlay .icon{
    position: relative;
    width: 70px;
    height: 70px;
}

.item-img-overlay .icon:before{
    content: '';
    width: 1px;
    height: 70px;
    background: #eee;
    position: absolute;
    top: 0;
    left: 50%;
}

.item-img-overlay .icon:after{
    content: '';
    width: 70px;
    height: 1px;
    background: #eee;
    position: absolute;
    top: 50%;
    left: 0;
}

.item-img-overlay .overlay-info{
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #aaa;
    transition: all .5s;
}

.item-img-overlay .overlay-info h6{
    margin-bottom: 0;
}

.item-img-overlay:hover .overlay-info{
    bottom: 10px;
}

.item-img:hover .item-img-overlay{
    opacity: 1;
}

@media(max-width: 480px){
    .applications .filtering span{
        padding: 7px 10px;
    }
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ clients ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.clients {
    position: relative;
    background: url('../img/table-fence-structure-wood-grain-texture-819062-pxhere.com.jpg') no-repeat fixed;
    background-size: cover;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: overlay;
    width: 100%;
    color: #000;    
}

/* what people say section */
.clients .section {
    width: 65%;
    background: rgba(124, 106, 6, 0.5); 
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.clients .learn {
    color: #f9f7f7;
    margin: 10px auto;
}

.clients .learn p {
    line-height: 1.5;
    margin: 20px auto;
}

.clients .learn h4 {
    text-align: center;
    font-size: 18px;
    color: #0c4900;
}

.clients .learn h4 span {
    font-size: 16px;
    margin-left: 5px;
    color: #ddd;
}

.clients .learn span{
    font-size: 3em;
}

.owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 4px;
    border-radius: 0;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ pricing ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.pricing {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.Pricing-Taples {
    background: #f9f9f9;
    border-radius: 10px;
    transform: translateY(20px);
    transition: all .5s ease-in-out;
    border: 1px solid #ccc;
}

.Pricing-Taples:hover {
    transform: translateY(0);
}

.Pricing-Taples-2 {
    transform: translateY(-10px);
    border: 1px solid #aaa;
}

.Pricing-Taples-2:hover {
    transform: translateY(-20px);
}

.pricing .header-taples {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 30px 0;
}

.pricing .header-taples h4 {
    font-size: 2em;
    text-transform: uppercase;
}

.pricing .price h3 {
    font-size: 3em;
    color: #0c4900;
}

.pricing .price h3 span {
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
}

.pricing .price h4 {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.pricing .price p {
    padding: 10px;
    color: #0c4900;
}

.pricing .price p:nth-child(even) {
    background: #f5f5f5;
    color: #000;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Blog ------------------------------------- */
/* ---------------------------------------------------------------------------- */
.blog {
    position: relative;
}
.post-lion {
    background: #f5f5f5;
    padding: 20px;
    margin: 30px 0; 
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.post-lion-2 {
    transform: translateY(20px);
}

.post-lion h2 { 
    font-size: 1.5em;
}

.post-lion img {
    border-radius: 5px;
}

.post-lion p {
    line-height: 2;
}

.post-lion span {
    font-weight: bold;
    padding: 5px 5px;

}

.post-lion a {
    color: #000;
    transition: all .4s ease-in-out;
}

.post-lion span i {
    padding: 5px 5px;
    transform: translateX(0px);
    transition: all .8s ease-in-out;
}

.post-lion span:hover a {
    color: #126a96;
}

.post-lion span:hover i {
    transform: translateX(10px);
}
/* ---------------------------------------------------------------------------- */
/* ------------------------------------ contact ------------------------------------- */
/* ---------------------------------------------------------------------------- */


.contact {
    position: relative;
    background: url('../img/table-fence-structure-wood-grain-texture-819062-pxhere.com.jpg') no-repeat fixed;
    background-size: cover;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: overlay;
}

.contact .cont-info{
    padding-top: 60px;
}

.contact .cont-info .info-item h6{
    color: #a3a3a3;
    font-size: 18px;
    font-weight: bold;
}

.contact .cont-info .info-item span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    background: #e0e0e0;
    color: #0c4900;
    box-shadow: 0px 0px 15px #ddd;
    border-radius: 5px;
}

.contact .cont-info .info-item span:hover{
    box-shadow: 0px 0px 10px #ddd;
}

.contact .cont-info .info-item h6{
    display: inline-block;
    margin-left: 30px;
}

.contact .form{
    padding: 50px;
    box-shadow: 0px 0px 6px #fff;
    border-radius: 1px;
    overflow: hidden;
}

.contact .form input,
.contact .form textarea
{
    background: inherit;
    color: #0c4900;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.contact .form textarea{
    background: inherit;
    color: #0c4900;
    max-width: 100%;
    max-height: 100px;
    height: 100px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Footer ------------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {
    background: #111;
    color: #aaa;
    padding: 50px 0;
}

footer .container span {
    color: #fff;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Main Blog ------------------------------------- */
/* ---------------------------------------------------------------------------- */

.blog-lion {
    background: #e0e0e0;
}

.header-blog {
    background: url(../img/1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.8);
    background-blend-mode: overlay;    
}

.header-blog h1 {
    font-size: 4em;
    color: #d1b389;
}

.header-blog p{
    color: #ccc;
    font-weight: bold;
}

.header-blog div {
    font-size: 1.1em;
    color: #f5f5f5;
    padding: 5px;
}

/* ------------- posts ----------------- */

.posts .main-post {
    background: #fff;
    padding-top: 30px;
    margin-bottom: 30px;
}

.post-content {
    background: #fff;
    padding: 10px;
}

.posts .main-post .post {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.post .img-post {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.post .img-post img {
    transition: all .5s ease-in-out;
}

.post .img-post .img-overlay{
    content: '';
    background: rgba(255,255,255,.5);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    opacity: 0;
    overflow: hidden;
    transition: all .5s;
}

.post .img-post .img-overlay span{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -100%;
    left: calc(50% - 25px);
    background: #fff;
    color: #222;
    border-radius: 50%;
    box-shadow: 0px 0px 4px #999;
    transition: all 0s;
    z-index: 99;
}

.post .img-post:hover .img-overlay{
    opacity: 1;
}

.post .img-post:hover img{
     transform: scale(1.1);
}

.post .img-post:hover .img-overlay span{
    top: calc(50% - 25px);
    transition: all .5s;
}

.posts .main-post .post .img-post img {
    width: 100%;
    border-radius: 5px;
}

.posts .main-post .post p {
    line-height: 2;
}

.posts .post-content span {
    font-weight: bold;
    padding: 10px 15px;

}

.posts .post-content a {
    color: #000;
    transition: all .4s ease-in-out;
}

.posts .post-content span i {
    padding: 5px 5px;
    transform: translateX(0px);
    transition: all .8s ease-in-out;
}

.posts .post-content span:hover a {
    color: #126a96;
}

.posts .post-content span:hover i {
    transform: translateX(10px);
}

.entry-meta {
    border-top: 1px solid #e0e0e0;
    color: #0c4900;
}

.posts .main-post .post .entry-meta span {
    padding-left: 10px;
}

.posts .main-post .post .entry-meta .admin {
    padding-left: 10%;
}

/* ------------- pagination nav ----------------- */

.blog-pagination {
    margin: 15px auto;
}

.blog-pagination a{
    color: #0c4900;
    font-size: 1.2em;
    margin: 30px 5px 0;   
}

/* ------------- side-bar ----------------- */

.posts .bar {
    background: #fff; 
    padding: 20px 10px;
}
.section-bar {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.section-bar .img-about img {
    border-radius: 5px;
}

.media-icon span {
    width: 30px;
    height: 30px;
    background: #444444;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 10%;
    line-height: 30px;
    margin: 0 2px;
}

.media-icon span:hover {
    background: #f9f7f7;
    color: #000;
    width: 30px;
    height: 30px;
    font-size: 19px;
}

/* ------------- popular-post ----------------- */

.post-info {
    border-bottom: 1px dashed #e0e0e0;
    padding: 20px 0;
}

.img-pop{
    width: 80px;
    float: left;
}

.img-pop img {
    border-radius: 4px;
}


.pop-info{
    padding-left: 90px;
}

.pop-info h5 {
    font-weight: bold;
    font-size: 14px;
}

.pop-info time {
    color: #0c4900;
    float: right;
}

/* ------------- Tag ----------------- */

.tag-info a {
    color: #000;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: 1px solid #e0e0e0;
}

/* ------------- instagram-feed ----------------- */

.img-instagram img {
    width: 47%;
    padding: 2%;
    border-radius: 8px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------ Single Post ------------------------------------- */
/* ---------------------------------------------------------------------------- */
.post .Single {
    padding: 20px;
}

.post .Single p {
    padding: 20px;
}

blockquote {
    background: #f9f7f7;
    font-size: 14px;
    margin: 20px;
    padding: 40px;
}

.post-content .comments {
    border-bottom: 1px solid #e0e0e0;
}

.post-content .comments .media-lift {
    display: inline-block;
    width: 10%;
    margin-top: 10px;
}

.post-content .comments .media-lift img {
    border-radius: 50%;
    width: 100%;
}

.post-content .comments .media-right {
    display: inline-block;
    width: 85%;
}

.post-content .comments .media-right h4 {
    padding-top: 15px;
}

.post-content .comments .media-right h4 span {
    font-size: 12px;
    padding: 10px;
}

.post-content .comments .media-right p {
    display: inline-block;
    padding: 5px;
}

/* ------------- comment-form ----------------- */

.comment-form input,
textarea {
    width: 100%;
    background: inherit;
    color: #0c4900;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.comment-form textarea {
    width: 80%;
    height: 150px;
}

/* -------------------------------------------------------
                     Demo-2 
-------------------------------------------------------- */

#particles-js{
    width: 100%;
    height: 100%;
}



#fullname > span {
    display: none;
}

@media (max-width: 993px){
    #fullname{
        /* padding-right: 0px; */
        display: none;
    }
}

